*.docx
*.ktr
*.xlsx
*.txt
*.kjb
*.xls
WS_vistes_i_catalegs/SHPs/BASE_ABAS_Sectors_CONSUM.cpg
*.pdf
WS_vistes_i_catalegs/base_eix_carrer.shp
*.dbf
*.shx
*.shp
*.idx
WS_vistes_i_catalegs/20180117 Bolcat taules revisio/20180115_amsa_rev_t_.backup
WS_vistes_i_catalegs/zz_del_sector.sql
WS_vistes_i_catalegs/zz_del_macrodma.sql
WS_vistes_i_catalegs/zz_del_element_type - amb type.sql.old
WS_vistes_i_catalegs/zz_del_dma.sql
WS_vistes_i_catalegs/zz_del_cat_work - amb the_geom.sql.old
WS_vistes_i_catalegs/zz_del_cat_presszone.sql
WS_vistes_i_catalegs/zz_V1_v_edit_man_varc.sql
WS_vistes_i_catalegs/zz_V1_v_edit_man_pipe.sql
WS_vistes_i_catalegs/WX_amsa_ctrl_revisions.sql
WS_vistes_i_catalegs/WS_revisio_vistes_editables.sql
WS_vistes_i_catalegs/WS_revisio_nodes_xy.sql
WS_vistes_i_catalegs/WS_revisio_catalegs.sql
WS_vistes_i_catalegs/WS_ORA_REVI_NA_GW_PROC.sql
WS_vistes_i_catalegs/WS_ORA_FIND_VALUES.sql
WS_vistes_i_catalegs/WS - REVISIONS NODES.sql
WS_vistes_i_catalegs/20180117 Bolcat taules revisio/20180115_amsa_rev_t_.sql
GW_catalegs_generics/zz_exploitation.sql
*.prj
*.qpj
